html{
    border: 2px solid blue;
    
}

body{
    background-color: none;
    margin: 5px;
    padding: 1px;
    width: 100%;
    align-items: center;
}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
    padding-left: 50px;
    padding-right: 80px;
   
}
.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 8px;
    border: 1px solid red;
}

.navbar ul li a{
    border: 1px solid black;
    text-decoration: none;
    color: black;

}
.navbar label{
    display: none;
}
#click{
    display: none;
}
#click:checked~.navbar ul{
    display: block;
}


@media screen and (max-width:735px){
    .navbar label{
        display: block;
    }
    .navbar ul{
        display: none;
        position: absolute;
        top: 100px;
        right: 0%;
        background-color:transparent;       
        gap: 5px;
    } 
    .navbar ul li{      
        padding: 12px;
        color: #fff;
    }   
}

main{
    border: 2px solid black;
    padding: 1%;
}

.bigim{
    display: grid;
    border: 5px double red;
    padding: 20px;
    height: 250px;
}
.Prod{
    border: 2px solid green;
    padding: 20px;
}
.container{
    padding: 1px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid blue;

}
.box{
    height: 350px;
    width: 300px;
    margin: 20px;
    border: 2px solid red;
    
}











footer{
    align-items: center;
    border: 2px solid indianred;
    margin: 2px;
    padding: 10px;
}