html{
    border: 2px solid blue;
    
}

body{
    background-color: none;
    margin: 15px;
    padding: 5px;
}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
    padding-left: 50px;
    padding-right: 80px;
   
}
.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 8px;
    border: 1px solid red;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}
main{
    border: 2px solid black;
    padding: 1%;
}

.bigim{
    display: grid;
    border: 5px double red;
    padding: 20px;
    height: 250px;
}
.Prod{
    border: 2px solid green;
    padding: 20px;
}
.container{
    padding: 2px;
    margin: 5px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    border: 1px solid blue;
}
.box{
    height: 350px;
    width: 300px;
    margin: 20px;
    border: 2px solid red;
    
}











footer{
    align-items: center;
    border: 2px solid indianred;
    margin: 2px;
    padding: 10px;
}